<div id="row-book">
	<table id="first">
		<tr>
			<th>				
				<span id="before"><%= image_tag("jhana.png") %></span>
				<span id="after"><a href="">Book it!</a></span>
			</th>
		</tr>
	</table>
	<span class="break"></span>
	<table id="second">
		<tr>
			<th>
				<span id="before">Second Friday</span>
				<span id="after"><a href="">Book it!</a></span>
			</th>
		</tr>
	</table>
	<span class="break"></span>
	<table id="third">
		<tr>
			<th>
				<span id="before">Third Friday</span>
				<span id="after"><a href="">Book it!</a></span>
			</th>
		</tr>
	</table>
	<span class="break"></span>
	<table id="fourth">
		<tr>
			<th>
				<span id="before">Fourth Friday</span>
				<span id="after"><a href="">Book it!</a></span>
			</th>
		</tr>
	</table>
	<span class="break"></span>
	<table id="fifth">
		<tr>
			<th>
				<span id="before">Special Events</span>
				<span id="after"><a href="">Book it!</a></span>
			</th>
		</tr>
	</table>
</div>